<div class="container-fluid clients-section">
    <div class="row">
        <div class="col">
            <div class="lg-text"> <span>We</span>
                <br> <span>solve real </span>
                <br> <span>problems</span>
            </div>
            <div class="normal-text">
                <p>By threading together deep human thinkers with highly creative souls and influential market activators we help transform your brand.</p>
            </div>
            <div class="clients-logos">
                <div class="logo-holder">
                    <img src="{{ site.url }}/assets/cre8/img/logo-1863.jpg" alt="1863 ventures">
                </div>
                <div class="logo-holder">
                    <img src="{{ site.url }}/assets/cre8/img/logo-orangeup.jpg" alt="orange up">
                </div>
                <div class="logo-holder">
                    <img src="{{ site.url }}/assets/cre8/img/logo-gew.jpg" alt="global entrepreneurship week">
                </div>
                <div class="logo-holder">
                    <img src="{{ site.url }}/assets/cre8/img/logo-inco.jpg" alt="innovate coalition inc">
                </div>
                <div class="logo-holder">
                    <img src="{{ site.url }}/assets/cre8/img/logo-cmx.jpg" alt="cmx connect">
                </div>
                <div class="logo-holder">
                    <img src="{{ site.url }}/assets/cre8/img/logo-1mc.jpg" alt="1 million cups">
                </div>
                <div class="logo-holder">
                    <img src="{{ site.url }}/assets/cre8/img/logo-scon.jpg" alt="startup con">
                </div>
                <div class="logo-holder">
                    <img src="{{ site.url }}/assets/cre8/img/logo-googleDevFest.jpg" alt="google devfest">
                </div>
            </div>
        </div>
    </div>
</div>