<div class="menu-toggle">
    <div class="icon"></div>
</div>
<div class="main-menu">
    <div class="contant-info">
        <div><a href="mailto:hello@bloomshift.com" target="_blank">hello@bloomshift.com</a>
        </div>
        <div>+1 888-944-6461</div>
    </div>
    <div class="menu-links">
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li><a href="{{ site.url }}/work">Work</a></li>
            <li><a href="{{ site.url }}/about">About</a></li>
            <li><a href="{{ site.url }}/contact">Contact</a></li>
            <li><a href="{{ site.url }}/privacy-policy">Legal</a></li>
        </ul>
    </div>
    <div class="social-media">
        <div class="social-link-holder"><a href="https://fb.me/bloomshift" target="_blank">Facebook</a>
        </div>
    </div>
</div>
<nav class="container-fluid cnav">
    <div class="row">
        <div class="col">
            <div class="logo-holder">
                <a href="index.html">
                    <img class="logo" src="{{ site.url }}/assets/cre8/img/logo-bloomshift.png" alt="bloomshift">
                </a>
            </div>
        </div>
        <div class="col text-right">
            <div class="social-media">
                <div class="social-link-holder"><a href="https://fb.me/bloomshift" target="_blank">Facebook</a>
                </div>
            </div>
        </div>
    </div>
</nav>